In [1]:
import os
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\XM891JZ\Downloads\Ecommerce Customers.csv')

In [4]:
df.shape

(500, 8)

In [5]:
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [6]:
df = df.drop(columns = ['Email','Address','Avatar'])

In [8]:
df = df[df['Length of Membership'] > 3]

,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,34.497268,12.655651,39.577668,4.082621,587.951054
2,33.000915,11.330278,37.110597,4.104543,487.547505
3,34.305557,13.717514,36.721283,3.120179,581.852344
4,33.330673,12.795189,37.536653,4.446308,599.406092
5,33.871038,12.026925,34.476878,5.493507,637.102448
...,...,...,...,...,...
491,34.343922,11.693058,36.812934,3.447093,510.501478
493,32.060914,12.625433,35.539142,5.412358,627.603319
495,33.237660,13.566160,36.417985,3.746573,573.847438
496,34.702529,11.695736,37.190268,3.576526,529.049004
497,32.646777,11.499409,38.332576,4.958264,551.620145

In [11]:
pwd

'c:\\Users\\XM891JZ\\OneDrive - EY\\Desktop\\MLOPs learning\\DVC_tutorial_repo\\src\\notebooks'

In [9]:
df.to_csv('./data/customers.csv')

OSError: Cannot save file into a non-existent directory: 'data'